 <!DOCTYPE html>
 {% load static %}
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>I-Soul Pod</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/floatcss/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/floatcss/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/floatcss/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/floatjs/modernizr.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="floatimg/images/EEB ENG-LOGO.png" type="image/x-icon">
    <link rel="icon" href="floatimg/images/EEBANK-LOGO.png" type="image/x-icon">

</head>


<body id="top">
    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="{% static 'images/floatimg/EEB ENG-LOGO.png' %}" alt="Homepage">
            </a>
        </div> <!-- end header-logo -->

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <h3>Navigate to</h3>

            <div class="header-nav__content">
                
                <ul class="header-nav__list">
                    <li><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                </ul>
    
                <p>Embark on a journey of self-discovery and relaxation with I-Soul Pod. Step into a world where the pressures of <a href='index.html'>life dissolve, </a>and the i- Soul finds its sanctuary.</p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="{% static 'images/floatimg/float-tank.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="grid-overlay">
            <div></div>
        </div>

        <div class="home-content">

            <div class="row home-content__main">

                <h1>
                I-Soul Pod
                </h1>

                <h3>
                    Welcome to I-Soul Pod, where tranquillity meets innovation. At I-Soul Pod, we are dedicated to crafting a serene escape for the mind and body through our state-of-the-art flotation tanks.
                </h3>

                <div class="home-content__video">
                    <a class="video-link" href="floatimg/images/VIDEO/Floatation tank kiosk .mp4"  data-lity>
                        <span class="video-icon" style="background-image: url('{% static "images/floatimg/icons/icon-play.svg" %}');"></span>
                        <span class="video-text">Watch Video</span>
                    </a>
                </div>

                <div class="home-content__button">
                    <a href="#about" class="smoothscroll btn btn--primary btn--large">
                        More About Us
                    </a>
                    <a href="#contact" class="smoothscroll btn btn--large">
                        Let's Talk
                    </a>
                </div>

            </div> <!-- end home-content__main -->

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    Scroll
                </a>
            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            <li>
                <a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
            </li>
            <li>
                <a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
          
        </ul> <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row section-header bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Our Vision
                </h3>
                <h1 class="display-1">
                    At the core of our vision is the belief that everyone deserves a peaceful sanctuary to disconnect from the chaos of daily life. We aspire to create a haven where individuals can embark on a journey of self-discovery, relaxation, and rejuvenation.
                </h1>
            </div>
        </div> <!-- end section-header -->
          
       
        <div class="row bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Revolutionizing Relaxation
                </h3>
                <p class="lead">
                    I- Soul Pod takes pride in revolutionizing the concept of relaxation. Our flotation tanks, also known as "I-Soul Pods," are meticulously designed to provide an immersive sensory experience. The blend of cutting-edge technology and mindful design ensures an environment where stress dissipates and inner peace flourishes.
                </p>
            </div>
        </div> <!-- end about-desc -->

       <!-- end process -->

        </div> <!-- end row -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services target-section darker">

        <div class="row section-header bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">I-Soul Pod</h3>
                <h1 class="display-1">
                    Why Choose I-Soul Pod?
                </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row bit-narrow services block-1-2 block-tab-full">

            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-star"></i>
                </div>
                <div class="item-service__text">
                    <h3 class="item-title">Innovative Design</h3>
                    <p>I-Soul Pods are crafted with precision, featuring advanced technology to create the perfect conditions for sensory isolation.
                    </p>
                </div>
            </div>

            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-group"></i>
                </div>
                <div class="item-service__text">
                    <h3 class="item-title">Therapeutic Benefits</h3>
                    <p>Immerse yourself in the buoyant embrace of our Epsom salt-infused water, known for its therapeutic properties that promote muscle relaxation and mental clarity.
                    </p>
                </div>
            </div>

            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-pie-chart"></i>
                </div>  
                <div class="item-service__text">
                    <h3 class="item-title">Tailored Experiences</h3>
                    <p>Whether you seek stress relief, enhanced creativity, or a meditative escape, I-Soul Pod offers customizable experiences to suit your individual needs.
                    </p>
                </div>
            </div>

            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-image"></i>
                </div>
                <div class="item-service__text">
                    <h3 class="item-title">######</h3>
                    <p>##########-####-####
                    </p>
                </div>
            </div>

            
    
            

        </div> <!-- end services -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row section-header has-bottom-sep narrow target-section" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Our Works</h3>
                <h1 class="display-1">
                We create brands, products, and experiences that people love. Check out our recent works.
                </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row masonry-wrap">

            <div class="masonry">
    
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="floatimg/images/3 1.png" class="thumb-link" title="Therapeutic" data-size="1050x700">
                                <img src="floatimg/images/3 1.png" 
                                     srcset="floatimg/images/3 1.png 1x, images/3 1.png 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Therapeutic
                            </h3>
                            <p class="item-folio__cat">
                                I-Soul Pod
                            </p>
                        </div>

                       

                        <div class="item-folio__caption">
                            <p>Discover the transformative power of I- Soul Pod – Where Serenity Meets Innovation.</p>
                        </div>

                    </div>
                </div> <!-- end masonry__brick -->
    
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="floatimg/images/4 1.png" class="thumb-link" title="Woodcraft" data-size="1050x700">
                                <img src="floatimg/images/4 1.png" 
                                     srcset="floatimg/images/4 1.png 1x, images/4 1.png 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Meditative escape
                            </h3>
                            <p class="item-folio__cat">
                                I-Soul Pod
                            </p>
                        </div>

                        <!--a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="icon-link"></i>
                        </a-->

                        <div class="item-folio__caption">
                            <p>Discover the transformative power of I- Soul Pod – Where Serenity Meets Innovation..</p>
                        </div>

                    </div>
                </div> <!-- end masonry__brick -->
        
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="floatimg/images/5 1.png" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="floatimg/images/5 1.png"
                                     srcset="floatimg/images/5 1.png 1x, images/5 1.png 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                soundproof
                            </h3>
                            <p class="item-folio__cat">
                                I-Soul Pod
                            </p>
                        </div>

                        <!--a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="icon-link"></i>
                        </a-->

                        <div class="item-folio__caption">
                            <p>Discover the transformative power of I- Soul Pod – Where Serenity Meets Innovation.</p>
                        </div>

                    </div>
                </div> <!-- end masonry__brick -->
        
                <!-- <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="floatimg/images/gallery-image-4.png" class="thumb-link" title="Grow Green" data-size="1050x700">
                                <img src="floatimg/images/gallery-image-4.png" 
                                     srcset="floatimg/images/gallery-image-4.png , images/gallery-image-4.png " alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Stimulation therapy
                            </h3>
                            <p class="item-folio__cat">
                                I-Soul Pod
                            </p>
                        </div>

                        a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="icon-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Discover the transformative power of I- Soul Pod – Where Serenity Meets Innovation.</p>
                        </div>

                    </div>
                </div> -->
                 <!-- end masonry__brick -->
    
             
                 <!-- end masonry__brick -->
        
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="floatimg/images/FT-1.jpg" class="thumb-link" title="Palmeira" data-size="1050x700">
                                <img src="floatimg/images/FT-1.jpg"
                                     srcset="floatimg/images/FT-1.jpg , images/FT-1.jpg " alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Relaxation
                            </h3>
                            <p class="item-folio__cat">
                                I-Soul Pod
                            </p>
                        </div>

                        <!--a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="icon-link"></i-->
                        </a>

                        <div class="item-folio__caption">
                            <p>Discover the transformative power of I- Soul Pod – Where Serenity Meets Innovation.</p>
                        </div>

                    </div>
                </div> <!-- end masonry__brick -->
    
            </div> <!-- end masonry -->

        </div> <!-- end masonry-wrap -->

    </section> <!-- end s-works -->


    <!-- clients
    ================================================== -->
  <!-- end s-clients -->


    <!-- testimonies
    ================================================== -->

   
    <section class="s-testimonials">
        
        <div class="testimonials__icon" data-aos="fade-up"></div>
        <h3 class="subhead">Technical Details 
        </h3>
        <div class="row testimonials narrow">
            

            <div class="col-full testimonials__slider" data-aos="fade-up">
                

                <div class="testimonials__slide">
                    <p>I-Soul Pod, also known as a sensory deprivation tank, is a specialized device or a small, enclosed pool designed to create a unique sensory experience. The concept behind a floatation tank is to provide a space where an individual can float effortlessly in a dense solution of water and Epsom salts, creating a sensation of weightlessness. It is mainly used for controlled constrained Stimulation therapy.</p>
                
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p>It is made so dark and soundproof that we need to control the influence of external stimuli on the subject body responses while, so he/she is floating in an Epsom salt solution maintained at an optimum body temperature. This enables the subject to enter a deep meditative state, while so relaxing the entire physical system and completely losing awareness of all stimuli, 
                        causing a feeling of rejuvenation after a complete floating session of about an average of sixty minutes approximately.</p>
                    
                    
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p> Floatation tanks are primarily used for relaxation, stress reduction, and mental well-being. The experience of floating in the tank can help promote deep relaxation, alleviate stress and anxiety, reduce muscle tension, and improve sleep quality. Many people also report enhanced creativity, mental clarity, and a sense of rejuvenation after.</p>
                   
                </div> <!-- end testimonials__slide -->
                
            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </section> <!-- end s-testimonials -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section">

            <div class="grid-overlay">
                <div></div>
            </div>

        <div class="row section-header narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Join Us on the Journey</h3>
                <h1 class="display-1">Embark on a journey of self-discovery and relaxation with I-Soul Pod. Step into a world where the pressures of life dissolve, and the i- Soul finds its sanctuary.<br>
                    Discover the transformative power of I- Soul Pod – Where Serenity Meets Innovation.
                     <br> </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row contact-main" data-aos="fade-up">
            <div class="col-full">
                <p class="contact-email">
                    <a href="mailto:#0">eebdcs@info.in</a>
                </p>
                <p class="contact-address">
                    5/375, S. Kolathur, Indirapuri, Kovilambakkam, <br>
                    Chennai, Tamil Nadu 600129
                </p>
                <p class="contact-numbers">
                +91 ######### &nbsp; 
                </p>

                <ul class="contact-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full ss-copyright">
                <span>© Copyright 2023</span> 
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">Back to Top</a>
        </div>
    </footer>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/floatjs/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/floatjs/plugins.js' %}"></script>
    <script src="{% static 'js/floatjs/main.js' %}"></script>

</body>